div.matrix_dimensions{
	font-family:arial;
	text-align:middle;
}

div.matrix_dimensions input{
	position:relative;
	top:6px;
}

div.matrix_dimensions span{
	display:inline-block;
	width:30px;
}

div.matrix{
	text-align:center;
	margin-top:15px;
}

#matrix_one{
	display:inline-block;
}

#matrix_two{
	display:inline-block;
}

div.operatorSelector{
	font-family:arial;
	text-align:center;
	
}

#evaluate{
	font-family:arial;
	position:relative;
	bottom:3px;
}

#matrix_three{
	text-align:center;
}

#matrix_three table{
	display:inline-block;
}